<section>
  <h2><%=@work[:title]%></h2>
  <p>Created by: <%=@work[:creator]%></p>
  <p>Published: <%=@work[:publication_year]%></p>
  <section>
    <%= link_to "Back to media ranks", root_path %>
    <%= link_to "Edit", edit_work_path %>
    <%= link_to "Upvote", upvote_path(@work.id), method: :post %>
    <%= link_to "Delete", work_path(@work.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </section>
</section>

<section>
  <h2><%=@work.votes.count%> Votes for this <%=@work[:category].capitalize%></h2>
  <table>
    <th>User</th>
    <th>Date</th>
    <% @work.votes.each do |vote| %>
    <tr>
      <td><%= link_to vote.user.name, user_path(vote.user.id) %></td>
      <td><%=  vote.date %></td>
    </tr>
    <% end %>
  </table>
</section>
