<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'owl.jpg' %>

</head>

<body>
  <header class="app-header__header">
    <h1><%= link_to "Media Ranker", root_path%> <small>Ranking the Best of Everything</small></h1>
    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item"><%= link_to "View top media", root_path, class: "nav-link"%></li>
        <li class="nav-item app-header__nav_item"><%= link_to "View all media", works_path, class: "nav-link"%></li>
        <li class="nav-item app-header__nav_item"><%= link_to "Add a new work", new_work_path, class: "nav-link"%></li>
        <li class="nav-item app-header__nav_item"><%= link_to "View all users", users_path, class: "nav-link"%></li>
      </ul>

      <ul class="nav app-header__site-nav-container">
        <% if @current_user %>
        <li class="nav-item app-header__nav_item"><%= link_to "Logged in as #{@current_user.name}", user_path(@current_user.id), class: "btn btn-primary"%></li>
        <li class="nav-item app-header__nav_item"><%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-primary" %></li>
        <% else %>
        <li class="nav-item app-header__nav_item"><%= link_to "Log In", login_path, class: "btn btn-primary"%></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <section class="flash">
    <% flash.each do |name, message| %>
    <% if message.class == Array %>
    <% message.each do |msg| %>
    <div class="alert-warning"><%= "#{name}: #{msg}" %></div>
    <% end %>
    <% else %>
    <div class="alert-warning"><%= message %></div>
    <% end %>
    <% end %>
  </section>
  <main>
    <%= yield %>
  </main>
</body>
</html>
