<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to "View top media", root_path%></li>
        <li><%= link_to "View all media", works_path%></li>
        <li><%= link_to "Add a new work", new_work_path%></li>
        <li>View all users</li>
      </ul>

      <ul>
        <li>Log In</li>
      </ul>
    </nav>
  </header>

  <section class="flash">
    <% flash.each do |name, message| %>

    <% if message.class == Array %>
    <% message.each do |msg| %>
    <div class="alert-<%= name %>"><%= "#{name}: #{msg}" %></div>
    <% end %>
    <% else %>
    <div class="alert-<%= name %>"><%= message %></div>
    <% end %>
    <% end %>
  </section>

  <%= yield %>
</body>
</html>
